<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/Epilarm" version="1.0.0" viewmodes="maximized">
    <tizen:application id="z5oGMBMvyR.Epilarm" package="z5oGMBMvyR" required_version="4.0"/>
    <author email="julian@danner-web.de">Julian Danner</author>
    <tizen:background-category value="sensor"/>
    <content src="index.html"/>
    <description>App that detects epileptic seizures by watching the accelerometers and searching for certain periodic movements.</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/sensor.accelerometer"/>
    <feature name="http://tizen.org/feature/sensor.linear_acceleration"/>
    <icon src="icon.png"/>
    <name>Epilarm</name>
    <tizen:privilege name="http://tizen.org/privilege/display"/>
    <tizen:privilege name="http://tizen.org/privilege/application.info"/>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/notification"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="enable" encryption="disable" hwkey-event="enable"/>
</widget>
